  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
  {%- for post in site.categories[site.catcatonindex1] limit:1 -%}
    <h1 class="post-header" href="{{ shownotes | relative_url }}">[site.catcatonindex1]</h1>
  </header>
    <li>
      <h3>
        {% if post.external_url %}
        <a class="post-link" href="{{ post.external_url }}" target="_blank">
            {% else %}
            <a class="post-link" href="{{ post.url | relative_url }}">
                {% endif %}
                {{ post.title | escape }}
            </a>
      </h3>
      </element class="post-content e-content" itemprop="articleBody">
      <p>
      {%- endif -%}
      {%- if site.show_excerpts -%}
        {%- if post.description -%}
          {{ post.description | strip_html }}<br>
        {% else %}
         {{ post.excerpt | strip_html }}<br>
        {%- endif -%}
      {%- endif -%}
    {% include read-more.html currPost=post %}</p>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <element class="post-meta">{{ post.date | date: date_format }}</element>
  </element>
    </li>
    {%- endfor -%}
    {%- for post in site.categories[site.catcatonindex2] limit:1 -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <element class="post-meta">{{ post.date | date: date_format }}</element>
      <h3>
        {% if post.external_url %}
        <a class="post-link" href="{{ post.external_url }}" target="_blank">
            {% else %}
            <a class="post-link" href="{{ post.url | relative_url }}">
                {% endif %}
                {{ post.title | escape }}
            </a>
      </h3>
      </element class="post-content e-content" itemprop="articleBody">
      <p>
      {%- endif -%}
      {%- if site.show_excerpts -%}
        {%- if post.description -%}
          {{ post.description | strip_html }}
        {% else %}
         {{ post.excerpt | strip_html}}<br>
        {%- endif -%}
      {%- endif -%}
    {% include read-more.html currPost=post %}</p></element>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}


  bbbbb