{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {%- for glb in social.gitlab -%}{%- if glb.username and glb.instance -%}<li><a rel="me"
      href="https://{{ glb.instance | cgi_escape | escape}}/{{glb.username}}" title="Gitlab"><svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#gitlab' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}{%- endfor -%}
  {%- if social.dribbble -%}<li><a rel="me" href="https://dribbble.com/{{ social.dribbble | cgi_escape | escape }}"
      title="Dribble"><svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#dribbble' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.facebook -%}<li><a rel="me" href="https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}"
      title="Facebook"><img class="svg-icon grey" src="{{ '/assets/facebook-square.svg' | relative_url }}"
        onload="SVGInject(this)">
    </a></li>{%- endif -%}
  {%- if social.flickr -%}<li><a rel="me" href="https://www.flickr.com/photos/{{ social.flickr | cgi_escape | escape }}"
      title="Flickr"><svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#flickr' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  <!-- {%- if social.github -%}<li><a rel="me"
      href="https://github.com/{{ social.github.username | cgi_escape | escape }}/{{ social.github.repo | cgi_escape | escape }}"
      title="{{ social.github | escape }}"><svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg></a></li>{%- endif -%} -->
  {%- if social.stackoverflow -%}<li><a rel="me"
      href="https://stackoverflow.com/users/{{ social.stackoverflow | cgi_escape | escape }}" title="StackOverflow"><svg
        class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.instagram -%}<li><a rel="me"
      href="https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}" title="Instagram"><svg
        class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.linkedin -%}<li><a rel="me"
      href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}" title="LinkedIn"><svg
        class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.pinterest -%}<li><a rel="me"
      href="https://www.pinterest.com/{{ social.pinterest | cgi_escape | escape }}" title="Pinterest"><svg
        class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#pinterest' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- for mst in social.mastodon -%}{%- if mst.username and mst.instance -%}<li><a rel="me"
      href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}" title="Mastodon"><svg
        class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}{%- endfor -%}
  {%- if social.twitter -%}<li><a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}"
      title="Twitter"><img class="svg-icon grey" src="{{ '/assets/twitter-square.svg' | relative_url }}"
        onload="SVGInject(this)"></a></li>{%- endif -%}
  {%- if social.youtube -%}<li><a rel="me" href="https://www.youtube.com/{{ social.youtube | cgi_escape | escape }}"
      title="YouTube"><img class="svg-icon grey" src="{{ '/assets/youtube-square.svg' | relative_url }}"
        onload="SVGInject(this)"></a></li>{%- endif -%}
  {%- if social.youtube_channel -%}<li><a rel="me"
      href="https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}" title="YouTube"><img
        class="svg-icon grey" src="{{ '/assets/youtube-square.svg' | relative_url }}" onload="SVGInject(this)"></a></li>
  {%- endif -%}
  {%- if social.telegram -%}<li><a rel="me" href="https://t.me/{{ social.telegram | cgi_escape | escape }}"
      title="Telegram"><svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.keybase -%}<li><a rel="me" href="https://keybase.io/{{ social.keybase | cgi_escape | escape }}"
      title="KeyBase"><svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#keybase' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.microdotblog -%}<li><a rel="me"
      href="https://micro.blog/{{ social.microdotblog | cgi_escape | escape }}" title="MicroDotBlog"><svg
        class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#microdotblog' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.devto -%}<li><a href="https://dev.to/{{ social.devto | cgi_escape | escape }}" title="DevTo"><svg
        class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#devto' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.soundcloud -%}<li><a href="https://soundcloud.com/{{ social.soundcloud | cgi_escape | escape }}"
      title="SoundCloud"><img class="svg-icon grey" src="{{ '/assets/soundcloud.svg' | relative_url }}"
        onload="SVGInject(this)"></a></li>{%- endif -%}
  {%- if social.spotify -%}<li><a href="https://open.spotify.com/show/{{ social.spotify | cgi_escape | escape }}"
      title="Spotify"><img class="svg-icon grey" src="{{ '/assets/spotify.svg' | relative_url }}"
        onload="SVGInject(this)"></a></li>{%- endif -%}
  {%- if social.itunesname -%}<li><a
      href="https://podcasts.apple.com/be/podcast/{{ social.itunesname | cgi_escape | escape }}/{{ social.itunesid | cgi_escape | escape }}"
      title="Apple iTunes"><img class="svg-icon grey" src="{{ '/assets/podcast.svg' | relative_url }}"
        onload="SVGInject(this)"></a></li>{%- endif -%}
  {%- if site.email -%}<li><a href="mailto:{{ site.email }}" title="E-mail"><img class="svg-icon grey"
        src="{{ '/assets/envelope.svg' | relative_url }}" onload="SVGInject(this)"></a></li>{%- endif -%}
</ul>