.read-more {
    position: relative;
    text-align: right;
    
    line-height: 1em;
    font-weight: 300;

    color: #000000;
    a {
        font-size: 0.9em;
        @include underline-on-hover($black);
    }
}