.read-more {
    position: absolute;
    right: 10px;
    bottom: -2em;
    line-height: 1em;
    font-weight: 300;
    padding-bottom: 0.5em;
    color: #000000;
    a {
        font-size: 0.9em;
        @include underline-on-hov