@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'PT Sans';
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       rgb(0, 0, 0) !default;
$background-color: #fdfdfd !default;
$brand-color:      #000000 !default;
$black: #000000;
$white: #FFF;
$hyperlink: $text-color;
$p_text: $text-color;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$p_light: $grey-color;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        1000px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
  }
}

@mixin hyperlink-convention {
  a {
    cursor: pointer;
    @include underline-on-hover($hyperlink);
    color: $hyperlink;
}
}
