.site-header {
    background-color: rgba(41, 192, 190, 0.97);
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: 'Dosis';
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.website-title {
    position: relative;
    height: 50vh;
    min-height: 200px;
    background-image: url("/assets/wappers_belgian_revolution.jpg");
    background-image: image-set(
        url('/assets/wappers_belgian_revolution.avif') 1x type("image/avif"),
        url('/assets/wappers_belgian_revolution.webp') 1x type("image/webp"),
        url('/assets/wappers_belgian_revolution.jpg') 1x type("image/jpg"),
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    border-bottom: 5px solid #63574e;
}

.website-title h1 {
    position: absolute;
    left: 20px;
    bottom: 40px;
    line-height: 1.2;
    margin: 0;
    padding: 5px 10px;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: min(10vw,10vh, 5rem);
    display: inline-block;
    width: 30%;
    background-color: unset;
    text-shadow: 2px 2px 4px #1A2132;
}

@include media-query($on-laptop) {
    .website-title {
        height: 30vh;
    }

    .website-title h1 {
        font-size: min(7vw, 7vh, 5rem);
    }
}

.page-content {
    margin-top: 60px;
    background-color: #fbfaf5;
    color: #1A2132;
}

a, a:visited, a:hover, a:active {
    cursor: pointer;
    color:#37466b;
}

a:hover, a:active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

main h1, main h2 {
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 10px;
    line-height: 1;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

main h1 {
    font-size: 42px;
    margin: 30px 0px;
}

main h1 + h2 {
    display: table;
    margin-top: 0;
}

.post-content h2, main h2 {
    margin-top: 40px;
    font-size: 28px;
}

.post-title {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -1px;
}

main h1 a, main h1 a:visited
main h2 a, main h2 a:visited {
    color: #37466b !important;
}

main h1 a:hover, main h1 a:active
main h2 a:hover, main h2 a:active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}


.post-content a, .page-content p a,
.post-content a:visited, .page-content p a:visited {
    transition: background-size .2s;
    background-size: 1px 0;
    background-position: 0 100%;
    background-repeat: repeat-x;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    color: #37466b;
    border-bottom-color: #37466b;
}

.post-content a:hover,
.post-content a:active,
.page-content p a:hover,
.page-content p a:active {
    text-decoration: none;
    border-bottom-width: 0;
    background-image: linear-gradient(to bottom, #f2f2e6 0, #f2f2e6 100%);
    background-size: 1px 100%;
}

span.read-more a {
    border: none;
    padding: 0px;
}

span.read-more a:hover,
span.read-more a:active {
    border: none;
    padding: 0px;
    text-decoration: underline;
    background: none;
}


.category {
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

@include media-query($on-palm) {
   .category {
       display: none;
   }
}

.category a {
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid white;
    text-decoration: none !important;
}

.category a:hover, .category a:active {
    border: 2px solid gold;
}

.embedded-player {
    margin-bottom: 20px;
}

article.post > p:not(.post-meta) {
    line-height: 1.75;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.05rem;
    padding-right: 20px;
}

.post-content {
    line-height: 1.75;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.05rem;
    border-right: 1px dotted #29C0BE;
    padding-right: 20px;
}

.post-content p:first-of-type::first-letter {
    color: #29C0BE;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 4.2rem;
    padding: 0 .3rem;
    margin: 0 .3rem 0 0;
    float: left;
    line-height: 0.7;
}

ul.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
}

@include media-query($on-laptop) {
    ul.categories {
        grid-template-columns: repeat(2, 1fr);
    }
}


@include media-query($on-palm) {
    ul.categories {
        grid-template-columns: repeat(1, 1fr);
    }
}

ul.categories li {
    display: flex;
}

ul.categories li a {
    width: 100%;
    height: 110px;
    display: block;
    background-color: gold;
    padding: 0;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    bottom: 0;
    color: white;
    overflow: hidden;
    line-height: 1.1em;
    transition: background-color 0.2s;
}

ul.categories li a:hover,
ul.categories li a:active {
    background-color: rgb(209, 181, 20);
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
}

.more-tags {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.post-chronology {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
}

.post-chronology h2 {
    margin-bottom: 20px;
}

.post-chronology a{
    height: 75%;
}

@include media-query($on-palm) {
    .post-chronology {
        grid-template-columns: repeat(1, 1fr);
    }
}

article {
    margin-bottom: 30px;
}

input {border:0;outline:0;}
input:focus {outline:none!important;}

input#search-box {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    background-color: white;
    color: #37466b;
    padding: 4px 10px;
    width: 100%;
}

.social-media-list li {
    padding-top: 5px;
    margin: 0 4px;
}

.page-content .svg-icon {
    width: 48px;
    height: 48px;
}

.site-footer .svg-icon {
    fill: rgb(235, 235, 235);
}

.svg-icon:hover, .svg-icon:active {
    fill: gold;
}

.site-footer {
    background-color: #63574e;
    color: rgb(235, 235, 235);
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.footer-col-wrapper {
    color: rgb(235, 235, 235);
    display: flex;
}

.footer-social {
    margin-left: auto;
}

a.seekTo {
    user-select: none;
}


div.post-list, div.post-list-home {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
}

div.post-list {
    grid-template-columns: 1fr 1fr;
}

@include media-query($on-laptop) {
    div.post-list, div.post-list-home {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-query($on-palm) {
    div.post-list, div.post-list-home {
        grid-template-columns: repeat(1, 1fr);
    }
}

.post-preview {
    height: 100%;
    min-height: 350px;
    border: 5px solid white;
    margin: 10px 0;
    margin-bottom: 20px;
    display: block;
    position: relative;
    transition: border-color 0.2s;
    line-height: initial !important;

    .artwork {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .artwork > * {
        margin: 10px;
    }

    .content {
        margin-top: auto;
    }

    .title {
        margin-bottom: 10px;
        max-width: 40%;
        flex: 0 0 100%;
        line-height: 1.2;
    }

    .title h3 {
        margin: 0;
        padding: 5px 10px;
        font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
        background-color: rgba(255, 255, 255, .75);
        backdrop-filter: blur(5px);
        font-size: 1.6rem;
        display: inline-block;
        // line-height: 2.8rem;
    }

    .description {
        // margin: 10px;
        padding: 5px;
        background-color: #fbfaf5;
        height: fit-content;
        line-height: 1.5;
    }

    .description p, .description .post-meta {
        margin: 0;
        padding: 5px 10px;
    }

    .number {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        background-color: rgba(0, 0, 0, .25);
        border: 1px solid rgba(255, 215, 0, .5);
        backdrop-filter: blur(5px);
        border-radius: 5px;
        padding: 6px;
        font-size: 1.2rem;
        font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    }
}

.post-preview.noart {
    height: 100%;
    min-height: initial;

    .artwork {
        background: linear-gradient(0deg, rgba(251,250,245,1) 0%, rgba(0,0,0,0.15) 100%);
        position: relative;
    }


    .artwork img, .artwork svg {
        position: absolute;
        top: 5px;
        right: 0px;
        width: auto;
        height: 60px;
        fill: #fbfaf5;
        z-index: 0;
        pointer-events: none;
    }

    .title {
        max-width: 80% !important;
        margin-top: 25px;
    }

    .number {
        position: absolute;
        top: 10px;
        left: 10px;
        right: initial;
        color: rgb(99, 106, 122);
        background-color: rgba(251, 250, 245, .6);
        border: initial;
        border-radius: 5px;
        font-size: 1rem;
        font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    }
}

.post-preview.noart:nth-child(3n) .artwork {
    background: linear-gradient(0deg, rgba(251,250,245,1) 0%, rgba(255, 231, 93, 0.15) 100%);
}

.post-preview.noart:nth-child(3n+1) .artwork {
    background: linear-gradient(0deg, rgba(251,250,245,1) 0%, rgba(240, 99, 99, 0.15) 100%);
}

@include media-query($on-laptop) {
    .post-preview .title {
        max-width: 60%;
    }
}

.post-preview, .post-preview:active, .post-preview:hover,
.post-preview:focus, .post-preview:visited {
    color:#1A2132;
    text-decoration: none !important;
}

.post-preview:hover {
    border-color: gold;
}

.post-preview:hover > .artwork {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.post-preview:active > .artwork {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 2px inset;
}

.post-header .title {
    display: flex;
    margin-bottom: 30px;
}

.post-header h1 {
    margin: 0;
    max-width: 80%;
    line-height: 1.2;
}

.post-header .number {
    display: inline-block;
    background-color: white;
    border: 1px solid gold;
    border-radius: 5px;
    padding: 4px;
    font-size: 1.2rem;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-bottom: auto;
}

.tags-home ul li:nth-child(4) {
    display: none;
}

@include media-query($on-laptop) {
    .tags-home ul li:nth-child(4) {
        display: initial;
    }
}

@include media-query($on-palm) {
    .tags-home ul li:nth-child(4) {
        display: none;
    }
}


div.social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
}

@include media-query($on-laptop) {
    div.social {
        grid-template-columns: repeat(2, 1fr);
    }
}


@include media-query($on-palm) {
    div.social {
        grid-template-columns: repeat(1, 1fr);
    }
}

div.social a {
    position: relative;
    display: block;
    background-color: #c8d9e2;
    color: white;

    height: 110px;
    padding: 0;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    bottom: 0;
    color: white;
    overflow: hidden;
    line-height: 1.1em;
    transition: background-color 0.2s;

    img, svg {
        position: absolute;
        bottom: 5px;
        right: 5px;
        fill: rgba(255, 255, 255, .75);
        pointer-events: none;
    }
}

div.social a:hover,
div.social a:active {
    background-color: #79a0b6;
}