---
layout: default
---

<div class="website-title">
  {%- if page.title -%}
  <h1>{{ page.title }}</h1>
  {%- endif -%}
</div>

{{ content }}

{%- if site.posts.size > 0 -%}
{% if site.categories[page.catlist1].size > 0 %}
<h1>
  <a href="{{ 'podcast' | relative_url }}">{{ page.namecatlist1 | escape }}</a>
</h1>
{% endif %}
<div class="post-list-home">
  {%- for post in site.categories[page.catlist1] limit:2 -%}
  {% include post-preview-block.html post=post %}
  {%- endfor -%}
</div>

{% if site.categories[page.catlist2].size > 0 %}
<h1>
  <a href="{{ 'artikel' | relative_url }}">{{ page.namecatlist2 | escape }}</a>
</h1>
{% endif %}
<div class="post-list-home">
  {%- for post in site.categories[page.catlist2] limit:2 -%}
  {% include post-preview-block.html post=post %}
  {%- endfor -%}
</div>

<h1>
  <a href="{{ 'tags' | relative_url }}">meer</a>
</h1>
<div class="tags-home">
  {% include taglist-sorted.html max_no=4 %}
</div>

{%- endif -%}