---
layout: default
---
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- for post in site.categories[page.catlist1] limit:1 -%}
    <h1>
      <a class="post-title" href="{{ 'podcast' | relative_url }}">{{ page.namecatlist1 | escape }}</a>
    </h1>
    <ul class="post-list">
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h3>
        {% if post.external_url %}
        <a class="post-link" href="{{ post.external_url }}" target="_blank">
          {% else %}
          <a class="post-link" href="{{ post.url | relative_url }}">
            {% endif %}
            {{ post.title | escape }}
          </a>
      </h3>
      </element class="post-content e-content" itemprop="articleBody">
      <p>
        {%- if site.show_excerpts -%}
        {%- if post.description -%}
        {{ post.description | strip_html }}<br>
        {% else %}
        {{ post.excerpt | strip_html }}<br>
        {%- endif -%}
        {%- endif -%}
        {% include read-more.html currPost=post %}</p>
      </element>
      <element class="post-meta">{{ post.date | date: date_format }}</element>
    </li>
    {%- endfor -%}
  </ul>


    {%- for post in site.categories[page.catlist2] limit:1 -%}
    <h1>
      <a class="post-title" href="{{ 'artikel' | relative_url }}">{{ page.namecatlist2 | escape }}</a>
    </h1>
    <ul class="post-list">
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h3>
        {% if post.external_url %}
        <a class="post-link" href="{{ post.external_url }}" target="_blank">
          {% else %}
          <a class="post-link" href="{{ post.url | relative_url }}">
            {% endif %}
            {{ post.title | escape }}
          </a>
      </h3>
      </element class="post-content e-content" itemprop="articleBody">
      <p>
        {%- if site.show_excerpts -%}
        {%- if post.description -%}
        {{ post.description | strip_html }}<br>
        {% else %}
        {{ post.excerpt | strip_html }}<br>
        {%- endif -%}
        {%- endif -%}
        {% include read-more.html currPost=post %}</p>
      </element>
      <element class="post-meta">{{ post.date | date: date_format }}</element>
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}



  </ul>