---
layout: default
---
<h2>
  {{ page.title }}
</h2>
<div class="post-list">

  {% assign tags_max = 0 %}
  {% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
  {% assign tags_max = tag[1].size %}
  {% endif %}
  {% endfor %}
  <ul class="categories">
    {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
    {% if tag[1].size == i %}
    <li>
      <a href={{ tag[0] | slugify: "raw" }}>
        <strong>{{ tag[0] }}</strong>
      </a>
      <!-- <span class="taxonomy__count"># {{ i }}</span> -->
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>

</div>